.dark {
  --body-background: #000;
  --section-background: #2b2b2b;
  --item-background: #ffffff1a;
  --text-color: #fff;
  --card-button-background: #3f3f3f;
}

.light {
  --body-background: #fff;
  --section-background: #f5f5f5;
  --item-background: #f5f5f5;
  --text-color: #333333;
  --card-button-background: #e1e1e1;
}

.theme {
  background-color: var(--body-background);
  transition: 0.5s;
  height: 100vh;
  overflow: auto;
}
